<% include ./partials/header.ejs %>
<h1>Sign in</h1>
<form action="/users/signin" method="post">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <button>Sign in</button>
  <p>Don't have an account? <a href="/users/signup">Create One</a></p>
</form>
<% include ./partials/footer.ejs %>
